# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/

# Environment
.env

# SQLite Database
*.db
*.sqlite3

# Logs
logs/
app/logs/
*.log

# VS Code
.vscode/

# Pytest
.pytest_cache/

# Mypy
.mypy_cache/

# Ruff
.ruff_cache/

# Coverage
.coverage
htmlcov/

# OS Files
.DS_Store
Thumbs.db

# Node
node_modules/
package.json
package-lock.json